spring:
  data:
    mongodb:
      uri: mongodb://mongoadmin:secret@admiralis-db:27017/courses?authSource=admin
      database: courses
springdoc:
  swagger-ui:
    path: /api/courses/docs
  api-docs:
    path: /api/courses/docs
server:
  port: 80
management:
  endpoints:
    jmx:
      exposure:
        include: 'health,info'
    web:
      base-path: '/api/courses/status'
      path-mapping:
        health: /health
      cors:
        allowed-origins: '*'
        allowed-methods: GET,POST,PUT,DELETE